<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div>
<!--                | means OR operator-->
                <strong>{{message|safe}}</strong>
            </div>
        {% endfor %}
    {% else %}
    {{order}}
    <form action="/importcsv/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file1"> Upload a file</label>
        <input type="file" id="file1" name="file">
        <small>Only accepts CSV files</small>
        <button type="submit">Upload</button>
    </form>
    {{update}}

    <form action="/importcsv/search" method="get" style="margin-top:10px;">
        <label for="text">Search</label>
        <input type="text" id="text" name="query">
        <button type="submit">Search</button>
    </form>
    {{json}}
    {% endif %}

</body>
</html>